<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Caliburn.Micro.Core" version="2.0.0-beta" targetFramework="portable-net45+wp80+win" />
  <package id="Caliburn.Micro.Portable" version="1.0.0-alpha10" targetFramework="portable-net45+wp80+win" />
  <package id="Caliburn.Micro.ReactiveUI.Utils" version="1.0.0-alpha05" targetFramework="portable-net45+wp80+win" />
  <package id="Microsoft.Bcl" version="1.1.6" targetFramework="portable-net45+wp80+win" />
  <package id="Microsoft.Bcl.Async" version="1.0.165" targetFramework="portable-net45+wp80+win" />
  <package id="Microsoft.Bcl.Build" version="1.0.13" targetFramework="portable-net45+wp80+win" />
  <package id="Microsoft.Net.Http" version="2.2.18" targetFramework="portable-net45+wp80+win" />
  <package id="reactiveui-core" version="5.99.4-beta" targetFramework="portable-net45+wp80+win" />
  <package id="Rx-Core" version="2.2.2" targetFramework="portable-net45+wp80+win" />
  <package id="Rx-Interfaces" version="2.2.2" targetFramework="portable-net45+wp80+win" />
  <package id="Rx-Linq" version="2.2.2" targetFramework="portable-net45+wp80+win" />
  <package id="Rx-Main" version="2.2.2" targetFramework="portable-net45+wp80+win" />
  <package id="Rx-PlatformServices" version="2.2.3" targetFramework="portable-net45+wp80+win" />
  <package id="Splat" version="1.2.1" targetFramework="portable-net45+wp80+win" />
</packages>